* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* responsive br */

@media all and (max-width: 568px) {
.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(237,241,244,255);
}

.head-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: 'Poppins';
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
}

.o-summary {
  padding: 15px 30px;
  font-family: 'Poppins';
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  font-family: 'Lato';
  font-size: .85em;
}

.items button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.items .kertas {
  width: 80px;
  height: 35px;
  background-color: rgb(244, 67, 54);
}

.items .gunting {
  width: 80px;
  height: 35px;
  background-color: rgb(251, 192, 45);
}

.items .batu {
  width: 80px;
  height: 35px;
  background-color: rgb(68, 138, 255);
}

.hands-sign {
  transform: rotate(90deg);
  color: white;
  font-size: 1.5em;
}

.hands-sign-gunting {
  transform: rotate(100deg);
  color: white;
  font-size: 1.5em;
}

.items-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px 0;
}

.log-summary {
  padding: 40px 30px;
  font-family: 'Poppins';
}

.card-activity {
  margin: -25px auto;
  width: 86.5%;
  background-color: rgb(68, 138, 255);
  border-radius: 15px;
}

.log-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 5px;
  font-family: 'Lato';
}

.add-btn {
  display: flex;
  gap: 25px;
  padding: 35px 40px;
  font-family: 'Lato';
}

.add-btn button {
  border: none;
  outline: none;
  cursor: pointer;
}
}